body{
	
}
.fundo{
	margin: 0;
	padding: 0;
	background: url(imagens/bgLogin.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(5px);
	height: 700px;
}

.cadastro{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	min-height: 200px;
	background: rgb(0,0,0,0.8);
	border-radius: 10px;
	padding: 40px;
	box-sizing: border-box;
	margin-top: 70px;

}

h3{
	margin: 0;
	padding: 0 0 20px;
	color: #DAEDF1;
	text-align: center;
}

.cadastro input{
	width: 100%;
	margin-bottom: 20px;
}

.cadastro input[type="text"],
.cadastro input[type="email"],
.cadastro input[type="password"]{
	border: none;
	border-bottom: 2px solid #262626;
	outline: none;
	height: 40px;
	color: #DAEDF1;
	background:transparent;
	font-size: 16px;
	padding-left: 20px; 
	box-sizing: border-box;
}

.cadastro input[type="email"]:focus,
.cadastro input[type="text"]:focus,
.cadastro input[type="password"]:focus{
	border-bottom: 2px solid #DAEDF1;
	color: #DAEDF1;
}

::placeholder{
	color: #DAEDF1;
}

.input{
	position: relative;
}

.input span{
	position: absolute;
	top: 10px;
	color: #DAEDF1;
}

.cadastro button[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	width: 300px;
	font-size: 16px;
	background: #081C23;
	color: #fff;
	border-radius:20px;
	cursor: pointer; 
	margin-left: 60px;

}

.cadastro a{
	color: #DAEDF1;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: block;

}